@charset "UTF-8";
body{
    margin: 0;
}
.nav-bar{
    background: #00000050;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: aliceblue;
    height: fit-content;
}
.container{
    background-color: #00000070;
    width: fit-content;
    height: fit-content;
    padding: 50px;
    position: fixed;
    left: 30%;
    top: 50%;
    transform: translate(-30%, -50%);
    border-radius: 5px;
    text-align:center;
}
button{
    margin: 30px;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    background-color: #fad398;
}
button:hover{
background-color: #55cc1d;
}

input{
    width: 200px;
    height: 35px;
    border-radius: 5px;
    margin: 20px;
}

table {
  border-collapse: collapse;
  width: fit-content;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
th{
	color:white;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
#gen{
	height: max-content;
     width: max-content;
}
